body {
  font-weight: 500;
}

.hero-case-study {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
}

.hero-case-study .content {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
}
.hero-case-study .display-1 {
  font-size: 90px;
  font-weight: 400;
}

.hero-case-study p {
  font-size: 16px;
}

.hero-case-study.strava {
  background: #fff2ec;
  height: 80vh;
}

.hero-case-study.strava h1,
.hero-case-study.strava p:nth-child(3) {
  color: #fc4c05;
}

h2 {
  font-size: 32px !important;
}

.about-case-study img {
  border-bottom-right-radius: 100px;
}

.card {
  border-radius: 10px !important;
}

@media screen and (min-width: 992px) {
  .hero-case-study.strava {
    height: 90vh;
  }

  .hero-case-study p {
    font-size: 20px;
  }

  .hero-case-study .display-1 {
    font-size: 200px;
    font-weight: 400;
  }

  .hero-case-study .bg-img {
    position: absolute;
    top: 0;
    right: 0;
  }

  h2 {
    font-size: 60px !important;
  }
}
