@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero .rotating-logo {
  animation: rotate 5s linear infinite; 
}

.hero {
  height: 80vh;
  position: relative;
}

h1.stroke-text {
  color: black;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 100px !important;
}

.hero hr {
  width: 83px;
  border: 3px solid #000;
}

.hero h1 {
  font-size: 64px;
  font-weight: 600;
}

.hero p {
  font-size: 20px;
  max-width: 338px;
  text-align: left;
}

.hero .hero-arrow-down{

    transition: all 0.5s;
}

.hero .hero-arrow-down:hover {
  transform: scale(1.1);
}

.about h2 {
  font-size: 48px;
  font-weight: 400;
}

.about p {
  font-size: 32px;
  font-weight: 400;
}
